//bower:scss
@import "../../bower_components/modular-main-normalize-scss/_normalize.scss";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
//endbower

body{
    background-color:rgba(255,255,255,1);
}

#container{
	float:left;
	margin-left:20px;
	width: 350px;
	display:block;
	position: relative;
}

$mediaSelectionColor: lightblue + 10;

.media {
	border:1px solid transparent;
	&:hover{
		padding:5px 5px 5px 5px;
		transition:all 0.2s ease-in;
	}

	&:not(:hover){
		padding:0px;
		transition:all 0.2s ease-in;
	}




}

.media-selected{
	transition: none !important;
		&:hover{
		padding:5px 5px 5px 5px;
	}

	&:not(:hover){
	padding:5px 5px 5px 5px;
	}
}