{{#each employees}}
<div class="media">
	<div class="media-left">
		<a href="#">
			<img class="media-object" src="http://placehold.it/80x80" alt="...">
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading">{{firstName}} {{lastName}}</h4>
		{{title}}
		<div class="employee-details" style="display:none;">
			<div class="well">
				Lorem ipsum dolor est
			</div>
		</div>
	</div>

</div>
{{/each}}